
@{
    ViewBag.Title = "TuyenDung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="HD">
<h2 >Thông tin tuyển dụng </h2><br />
<img src="~/Image/tuyen-dung-1.png" alt="Tuyển dụng" />
<p>Các ứng viên vui lòng điền thông tin vào form dưới đây ( Trường hợp link đóng: cửa hàng đã ngưng tuyển nhân viên )</p>
<a href="https://docs.google.com/forms/d/1z9rnMBSB0B5AAt6Rua-gnYGftMQHFF8SO_ZkH9UM5tE/viewform?edit_requested=true">Ứng tuyển</a>
<p> Cảm ơn các bạn đã tham gia ứng tuyển tại cửa hàng chúng tôi!</p>
</div>
