
@{
    /**/

    /**/

    ViewBag.Title = "HuongDan";
    Layout = "~/Views/Shared/_Layout.cshtml";    <p></p>
}
<div class="HD">
<h2>Hướng dẫn chọn size giày chuẩn với mọi đôi chân</h2>
<img src="~/Image/Anita Black.png" alt="" width="300" height="300"  />
<p>
    Ngày nay, thay vì đến tận cửa hàng để mua đồ thì nhiều người thường lựa chọn cách mua online ngay tại nhà. Mua online tại nhà đang dần phổ biến, nó không những giúp bạn tiết kiệm thời gian, công sức, mà bạn còn có thể lựa chọn được nhiều mẫu mã đa dạng hơn. Tuy nhiên, bên cạnh những ưu điểm đó thì nó cũng tồn tại nhược điểm, đó chính là bạn không thể thử lên người mình xem nó có vừa và phù hợp với bạn hay không đặc biệt là khi mua giày, bởi size giày thường bị khác nhau giữa size ở Việt Nam và size Quốc tế. Vậy nên, nếu bạn không lựa chọn đúng kích cỡ chân mình, thì rất có thể bạn sẽ nhận phải đôi giày bị chật hơn chân hoặc bị quá rộng. Điều này thật lãng phí.</p>
    <p>Trong bài viết dưới đây, ST Shop sẽ hướng dẫn bạn cách làm sao để chọn được size giày chuẩn nhất với chân mình mà không cần đến cửa hàng để thử. Hãy cùng xem nhé.</p>
   <p> Với những bạn đã biết kích thước chân của mình thì bạn chỉ cần kéo xuống dưới để lựa chọn size giày phù hợp với mình. Nhưng với những bạn chưa biết kích thước chân của mình thì hãy chuẩn bị những vật dụng sau để tiếp tục đồng hành cùng chúng tôi nhé.</p>
   <p> <b>Bước 1:</b> Chuẩn bị những vật dụng sau để đo kích thước chân:</p>
    <img src="~/Image/chon-giay-1.jpg" alt="Hướng dẫn chọn giàyz" />
    <p>>>Một tờ giấy (to hơn chân)</p>
    <p>>>Một cây thước</p>
    <p>>>Một cây bút (viết)</p>
    <p>>>Mang tất/ đi vớ nào mà bạn định sẽ đi cùng với đôi giày mình cần mua</p>
     <br /><b>Bước 2:</b> Các bước tiến hành đo size chân:
           <img src="~/Image/chon-giay-2.jpg" alt="" />
    Sau khi đi tất, bạn giậm chân thật mạnh lên tờ giấy và giữ thật chắc để chân khỏi dịch chuyển khiến kích thước sau khi đo sẽ bị sai. Sau đó dùng bút vẽ theo khung bàn chân của bạn lên tờ giấy.
    <br /><br /><b>Bước 3:</b> Đo chiều dài cho chân:
                <img src="~/Image/chon-giay-3.jpg" alt="" />
    Đánh dấu 4 điểm bao gồm 2 điểm đầu ngón chân và 2 điểm cuối của gót chân bằng bút. Sau đó dùng thước kẻ để đo lại chiều dài của hai điểm này.
    <br /><br /><b>Bước 4:</b> Đo chiều rộng cho bàn chân:
                <img src="~/Image/chon-giay-4.jpg" alt="" />
    Ngoài chiều dài, thì bạn cần đo chiều rộng của bàn chân. Bạn chỉ cần dùng thước hay sợi dây đo sau đó chọn vị trí gần đầu mũi chân có bề ngang hoặc mu bàn chân dài nhất (bạn thấy chỗ nào là rộng nhất của chân thì lấy chỗ đó) để tiến hành đo, khi đo bạn nên ở tư thế ngồi hoặc đứng thẳng 2 chân.
    <br /><br /><b>Bước 5:</b> Tính kết quả để chọn size giày:
    <br />Sau khi đo xong bàn chân, bạn hãy lấy chiều dài nhất của chân và chiều rộng nhất và tính theo công thức sau:
    <br /><b>Cỡ giày = N = L (chiều dài bàn chân) + 1.5cm</b>
    <br />Sau khi có kết quả, bạn có thể dùng kết quả đó để đối chiếu theo bảng quy đổi size giày dưới đây. Chắc chắn với cách này, bạn sẽ lựa chọn được đôi giày phù hợp nhất với kích thước chân của mình.
    <br /><br /><i>Ví dụ:</i> Bạn đo được chiều dài của bàn chân mình là 22.5cm thì cỡ giày của bạn sẽ cộng thêm 1.5cm nữa kết quả là 24cm. Sau đó các bạn so sánh với cột cm ở bảng quy đổi size giày bên dưới sẽ tìm ra được cỡ giày của bạn là 38 – 39 đối với size Việt Nam, còn size UK là 6, và size US là 8.

    <br /><br /><b>Bảng quy đổi size giày cho nam :</b>
                <img src="~/Image/sizegiay_nam.jpg" alt="" />
    <br /><br /><b>Bảng quy đổi size giày cho nữ:</b>
                <img src="~/Image/sizegiay_nu.jpg" alt="" />
    <br /><br /><i>Lưu ý khi đo giày</i>
    <br /><br />Các bạn nên đo vào lúc chân đang trong tình trạng thoải mái nhất, hoặc đo vào buổi tối để nhận được kích cỡ chuẩn xác nhất nhé.
    <br />Nên đo cả 2 bàn chân nhé, vì 2 chân của chúng ta sẽ không bằng nhau do vậy mà bạn sẽ lấy kích thước ở chân nào dài và rộng hơn.
    <br /><br /><br /><br /><br />
</div>